#about {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#about > div {
  width: 70%;
  padding: 5%;
  border-radius: 35px;
  opacity: 0.9;
  background: radial-gradient(#b3cdd1, #8489a3);
}
