.meta {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding: 2%;
  border-radius: 35px;
  opacity: 0.9;
}


.meta.good{
  /* background: radial-gradient(#b3cdd1, #8489a3); */
  background: radial-gradient(#b3cdd1, #72a778);
}
.meta.bad{
  background: radial-gradient(#b3cdd1, #9c6f6f);
}