@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@900&display=swap');

header {
  position: absolute;
  z-index: 2;
  background: radial-gradient(
    #ff9c12 0%,
    #fa9712 40%,
    #ed8a14 50%,
    #d67316 70%,
    #b65419 90%,
    #9c3a1c 100%
  );
  height: 15%;
  width: 100%;
  border-radius: 0% 0% 30% 30%;
}
#side-bar {
  width: 20%;
  font-size: x-large;
  display: flex;
  background: radial-gradient(
    #ff9c12 0%,
    #fa9712 40%,
    #ed8a14 50%,
    #d67316 70%,
    #b65419 90%,
    #9c3a1c 100%
  );
  border-radius: 30% 0% 0% 30%;
  flex-direction: column;
  align-items: flex-end;
}

#web-title {
  font-family: 'MuseoModerno', cursive;
  display: flex;
  align-items: flex-end;
}

#web-title > img {
  width: 70px;
}
